# This file holds shared secrets or RSA private keys for authentication.

# RSA private key for this host, authenticating it to any other host
# which knows the public part.

: RSA "/etc/letsencrypt/live/{{ vpn.hostname }}/privkey.pem"
{% for i in vpn.credentials %}
{{ i.user }} : EAP {{ i.password }}
{% endfor %}
