config setup
        uniqueids=never

conn roadwarrior
        auto=add
        compress=no
        type=tunnel
        keyexchange=ikev2
        fragmentation=yes
        forceencaps=yes
        dpdaction=clear
        dpddelay=300s
        rekey=no
        left=%any
        leftid=@{{ vpn.hostname }}
        leftcert=/etc/letsencrypt/live/{{ vpn.hostname }}/fullchain.pem
        leftsendcert=always
        leftsubnet=0.0.0.0/0
        right=%any
        rightid=%any
        rightauth=eap-mschapv2
        rightsourceip=%dhcp
        rightdns={{ vpn.dns }}
        rightsendcert=never
        eap_identity=%identity
